.root {
  display: flex;
  flex-direction: column;
}

.error {
  font-size: var(--mantine-font-size-xs);
  line-height: calc(var(--mantine-font-size-xs) + 8px);
  margin-top: -20px;
}

.wrapper {
  margin-bottom: 20px;
}

.label {
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-font-size-sm);
  display: inline-block;
  margin-bottom: 8px;
}
